<div *ngFor="let witch of witches">
  <p>name: {{ witch.name }}</p>
  <p>broom: {{ witch.broom }}</p>
  <p>coven: {{ witch.coven }}</p>
</div>


{{ newWitch.name }} <br>
{{ newWitch.broom }} <br>
{{ newWitch.coven }} <br>

<div>
  Name (required): <input type="text" [(ngModel)]="newWitch.name"><br>
  Broom: <input type="text" [(ngModel)]="newWitch.broom"><br>
  Coven (required): <input type="text" [(ngModel)]="newWitch.coven"><br>
  <input (click)="submitWitch()" type="submit" value="New Witch">
</div>

<div *ngIf="hasErrors">
  <h3>Errors:</h3>
  {{ errors | json }}
</div>

<router-outlet></router-outlet>